@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;400&family=Italiana&family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;400&family=Inter:wght@100;300&family=Italiana&family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;400&family=Inter:wght@100;300&family=Italiana&family=Jura:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}
.cataloge-woman{
    background-color: black;
    height: 20vh;
}

.cataloge-section-woman{
    height: 1950px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.title-cataloge{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.title-cataloge p{
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cataloge-woman{
    height: 1750px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.cataloge-woman1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.cataloge-woman2{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cataloge-woman3{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.cataloge-woman-kids{
    width: 100%;
    height: 30%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.cataloge-woman-kids-img{
    height:77%;
    width: 100%;
 
 
    border-radius: 25px;
    
}
.cataloge-woman-kids-img img{
    width: 100%;
    height: 100%;
}
.cataloge-woman-kids-text{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}
.cataloge-woman-kids-text p{
    color: #FFF;
font-family: Italiana;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
margin-bottom: 5px;
}
.cataloge-woman-kids-text h1{
    color: #726A6A;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 5px;
}
.cataloge-woman-kids sub{
    color: #FFF;
font-family: Jaldi;
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: normal;
}


@media(max-width:1026px){
    .cataloge-woman3{
       display: none;
    }
    .cataloge-woman1{
       width: 45%;
       height: 100%;
       display: flex;
       flex-direction: column;
   
   }
   .cataloge-woman2{
       width: 45%;
       height: 100%;
       display: flex;
       flex-direction: column;
   }  
   .link {
    margin-right: 70px;
   }
   .title{
    margin-left:40px;
   }
   
}

@media(max-width:848px){
    .link{
        margin-right: 90px;
    }
}

@media(max-width:410px){
    .title-cataloge p{
        font-size: 10px;
    }
}
    
@media(max-width:768px){
   .cataloge-woman1{
       width: 45%;
       height: 100%;
       display: flex;
       flex-direction: column;
   
   }
   .cataloge-woman2{
       width: 45%;
       height: 100%;
       display: flex;
       flex-direction: column;
   }  
}
@media(max-width:594px){
    .title-cataloge p{
        font-size: 35px;
       
       }
}
@media(max-width:530px){
      .title-cataloge p{
       font-size: 43px;
      
      }
      .cataloge-woman-kids-img{
       height: 60%;
      }
      .title p{
       font-size: 35px;
       margin-right: 70px
      }
}
@media (max-width:458px){
   .title-cataloge p{
       font-size: 35px;
      
      }
}
@media (max-width:536px){
   .title-cataloge p{
       font-size: 35px;
      }
     .cataloge-woman{
       flex-wrap: wrap;

     }
     .cataloge-woman1{
       width: 90%;
       height: 100%;
       display: flex;
       flex-direction: column;
       
   
   }
   .cataloge-woman2{
       width:90%;
       height: 100%;
       display: flex;
       flex-direction: column;
   }  
   .cataloge-woman-kids{
    width: 100%;
    height: 30%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}
   
}