
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 550vh;
}
.navbar{
    z-index: 2;
    position: absolute;
    height: 30%;
    width: 100%;
    background-color:rgba(24, 24, 24, 0.737);
   
    bottom: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
   
    
}
.navbar a{
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#FFF;
    font-family: Bona Nova;
}

.nne{
    display: none;
}
.contaier{
    height: 100vh;
    width: 100%;
    background-image:url('pexels-r-fera-432059\ 1.png');
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 20%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.title{
    height: 100%;
    width: 20%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
   
}
.title p{
    color: #FFF;
font-family: Big Shoulders Inline Text;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}
.link{
    height: 100%;
    width: 30%;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

}
.icon{
   
flex-shrink: 0;
color: #FFF;
font-size: 50px;
margin-right: 30px;
display: none;
}
.link a{
  display: inline-block;
  margin-left: 40px;
  color: #FFF;
font-family: Bona Nova;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
section{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
.sub-bottun{
    height: 205px;
    width: 541px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sub-bottun p{
    color: #FFF;
font-family: Bona Nova;
font-size: 71px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sub-bottun button{
    width: 380px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 56px;

background: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
font-family: 'Big Shoulders Inline Text', sans-serif;
font-family: 'Jura', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.man-collection-page{
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.man-collection-page-child1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.man-collection-page-child1-kids1{
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.man-collection-page-child1-kids1 p{
    color: #FFF;
font-family: Bona Nova;
font-size: 59px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.man-collection-page-child1-kids1 sub{
    color: #FFF;
font-family: Jura;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 30px;
margin-bottom: 20px;
}
.man-collection-page-child1-kids1 a{
    width: 299px;
height: 71px;
flex-shrink: 0; 
border-radius: 45px;
text-align: center;
padding-top: 20px;
color: #FFF;
font-family: Jura;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
border: 2px solid white;
}
.man-collection-page-child2{
    height: 100%;
    width: 100%;
     background-image: url('kisspng-jamie-dornan-darker-fifty-shades-darker-as-told-b-sitting-man-5abcfdd72af170\ 1.png');
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    opacity: 0.5;
}
.woman-collection-page{
    height:70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.woman-collection-page-child1{
    height: 100%;
    width: 48%;
    background-image: url('imges/pexels-jermaine-ulinwa-3321540\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}
.woman-collection-page-child2{
    height: 100%;
    width: 48%;
    background-image: url('imges/pexels-skyler-ewing-6431140\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}
.woman-collection-page-text{
    width: 50%;
    height:50%;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.woman-collection-page-text p{
    margin-top: 20px;
    color: #FFF;
font-family: Jura;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.woman-collection-page-text sub{
    margin-top: 20px;
    color: #FFF;
font-family: Jura;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.woman-collection-page-text a{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    flex-shrink: 0; 
    border-radius: 45px;
    text-align: center;
    padding-top: 10px;
    color: #FFF;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    border: 2px solid white;
}
.woman-collection-page-child2{
    height: 100%;
    width: 48%;
}
.view-part{
   width: 100%;
   height: 120vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin-top: 50px;
   
}
.title-view{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-view p{
    color: #FFF;
font-family: Bona Nova;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.views{
    width: 100%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.reviews{
    height: 170px;
    width: 40%;
    border-bottom: 2px solid white;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.reviews p{
    color: #FFF;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reviews h4{
  
    color: #FFF;
font-family: Jura;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.2;
}

.faq-part{
    height: 100vh;
    width: 100%;
}
.faq-title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.faq-title p{
    color: #FFF;
font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}
.contaier-far{
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.child-faq{
    width: 85%;
    height: 10%;
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.child-faq-text1{
    width: 100%;
    height: 50%;
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.child-faq-text1 p{
    color: #FFF;
    font-family: Jura;
    font-size: 19.421px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.child-faq-text1 h4{
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}
.ansawer{
    height: 50%;
    width: 100%;
    color: #FFF;
font-family: Jura;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.2;
}

@media (max-width:768px){
    .link{
        display: none;
    }
    .icon{
        display: block;
    }
    .title{
        margin-left: 30px;
    }
    .title p{
        margin-left:79px;
    }
    .sub-bottun button{
        width: 200px;
        height: 80px; 
        flex-shrink: 0; 
        border-radius: 56px;
      background: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Big Shoulders Inline Text', sans-serif;
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    }
    
    .man-collection-page-child1-kids1 p{
        color: #FFF;
    font-family: Bona Nova;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .woman-collection-page{
        height: 140vh;
        flex-wrap: wrap;
    }
    .woman-collection-page-child1{
        width: 100%;
        height: 50%;
    }
    .woman-collection-page-child2{
        width: 100%;
        height: 50%;
    }
    .reviews{
        width: 80%;
    }
    
}
@media (max-width:1004px){
    .title{
        margin-left: 50px;
    }
    .link{
        margin-right: 70px;
    }
    
    .woman-collection-page-text{
        margin-left: 40px;
    }
}
@media (max-width:990px){
    .title{
        margin-left: 50px;
    }
    .link{
        margin-right: 70px;
    }
}
