*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.subscrib-container{
    width: 100%;
    height: 130vh;
    background-color: black;
}
.section1{
    height: 120vh;
    width: 100%;
                   
}
.title-subscribe{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;             
}
.title-subscribe p{
  color: #FFF;
            font-family: Inter;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
}
.container-subscribe-input{
    margin-top: 30px;
    height: 90%;
    width: 100%;
                   
    display: flex;
    flex-direction:column;
    align-items: center;
}
.container-subscribe-input-child{
height: 100%;
width: 700px;
               
display: flex;
flex-direction: column;
}
.mame-lastName{
height: 95px;
width: 100%;
               
display: flex;
flex-direction: row;
justify-content: space-between;
}
.name-input{
    width: 250.9px;
    height: 100%;
      
}
.all-input{
    width: 100%;
    height: 95px;
                   
    margin-top: 20px;
}

.button-send{
    height: 71px;
    width: 299px;
    border: 1px solid white;
    margin-top: 40px;
    margin-left: 25%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-send p{
    color: #FFF;
font-family: Jura;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.name-input p{
  color: #FFF;
  font-family: Inter;
  font-size: 29.12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.all-input p{
 color: #FFF;
             font-family: Inter;
             font-size: 29.12px;
             font-style: normal;
             font-weight: 800;
             line-height: normal;
}
@media(max-width:768px){
      .title-subscribe p{
        font-size: 30px;
      }
      .container-subscribe-input-child{
        width:85% ;
      }
     .title p{
        font-size: 35px;
        margin-right:90px;
     }
     
}
@media(max-width:611px){
    .title-subscribe p{
      font-size:30px;
    }
    .container-subscribe-input-child{
      width:85% ;
    }
     .name-input{
        width: 170px;
     }
     .name-input p{
     font-size: 18px;
     }
     .button-send{
       width: 100px; 
       margin-left: 35%;
     }
     .all-input p{
      font-size: 18px;
     }
}
